                                                    body {
                                                    margin: 100px;
                                                    margin-top: 0px;
                                                    font-size: 16px;
                                                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                                                }
                                                
                                                #home {
                                                    background-image: url(../delani-studio/image/backgrounds/h_img.jpg);
                                                    background-position: relative;
                                                    background-size: cover;
                                                    background-repeat: no-repeat;
                                                    text-align: center;
                                                    height: 100vh;
                                                    font-size: 150%;
                                                }
                                                
                                                #im2 {
                                                    position: relative;
                                                    margin-bottom: 20px;
                                                }
                                                
                                                #im1 {
                                                    position: relative;
                                                    margin-top: 125px;
                                                }
                                                
                                                .intr {
                                                    position: relative;
                                                    top: 70px;
                                                }
                                                
                                                .text {
                                                    position: relative;
                                                    top: 75px;
                                                }
                                                
                                                #services {
                                                    background-image: url(../delan);
                                                    text-align: center;
                                                    background-position: relative;
                                                    background-size: cover;
                                                    background-repeat: no-repeat;
                                                    text-align: center;
                                                    height: 60vh;
                                                    color: white;
                                                }
                                                
                                                #contact {
                                                    background-image: url(../delani-studio/image/backgrounds/c_image.jpg);
                                                    text-align: center;
                                                    background-position: relative;
                                                    background-size: cover;
                                                    background-repeat: no-repeat;
                                                    height: 88vh;
                                                }
                                                
                                                #about-us {
                                                    text-align: center;
                                                }
                                                
                                                #footer {
                                                    text-align: center;
                                                }
                                                
                                                #social-media {
                                                    display: inline;
                                                    position: relative;
                                                }
                                                
                                                .col-md-3 {
                                                    padding: 16px;
                                                }
                                                
                                                .col-md-3:hover {
                                                    opacity: 0.5;
                                                }
                                                
                                                hdwuuod jixajsj #social-media {
                                                    text-align: center;
                                                }
                                                
                                                jasiic design-hidden {
                                                    float: left;