h1 {
    text-align: center;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
    font-size: 15px;
}
div[id="sectionA"]{
    background-image: url(images/1st.jpg);
    background-position: center;
    background-size: 100%,100%;
    background-repeat: no-repeat;
    color: white;
}
img[id="img1"] {
    margin-left: 46%;
    margin-top: 10%;
    margin-bottom: 5%;
}
img[id="img2"] {
    margin-left: 49%;
    motion-rotation: 100%;
    margin-bottom: 5%;
}
footer {
    text-align: center;
}